{% extends 'shema.html' %}
{% block podnaslov %}Domača stran{% endblock %}
{% block vsebina %}
    <div class="center">
        <img src="/static/slika.png" />
    </div>
    <p>
        Pojdi na <a href="http://google.com">Google</a>
    </p>
    <p>
        Tukaj je besedilo prvega odstavka. Naslednja beseda je <b>krepka</b> in naslednja <i>poševna</i>.
    </p>
    <p>
        Tukaj je besedilo drugega odstavka. Naslednja beseda je <b>krepka</b> in naslednja <i>poševna</i>.
    </p>
    <p>
      obisci blog:
      <br>
        {% for a in range(1,100) %}
                <a href="/blog/{{a}}"><button>{{a}}</button></a>
        {% endfor %}
    </p>
{% endblock %}
